@import url(node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: grid;
    max-height: 100vh;
    grid-template: 1fr 6fr /1fr 4fr;
}

/* Sidebar */

.sidebar {
    display: grid;
    font-size: 36px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 15px;
}

.dash {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: start;
    gap: 10px;
    padding-left: 5px;
    font-size: 1.5rem;
}

nav {
    background: rgb(57, 165, 253);
    color: white;
    font-weight: bold;
    grid-row: 1/3;
}

ul {
    padding: 10px;
}

ul>li {
    padding: 10px 0;
    list-style: none;
    font-size: 25px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

sec2 {
    padding-top: 20px;
}

/* Header */

header {
    background: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 7fr 1fr 1fr 1fr;
}

header:nth-child(n+5) {
    grid-row-start: 2;
}

button {
    border-style: none;
    background: white;
}

div.search {
    grid-area: 1/1/2/2;
    grid-auto-flow: column;
    align-self: center;
    padding-left: 20px;
    gap: 5px;
    display: flex;
    flex-grow: 1;
}

.searchbar {
    background: rgb(82, 82, 82, 0.1);
    border-style: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    height: 28px;
    width: 100%;
    flex-grow: 1;
    justify-self: start;
    align-self: center;
}

button.search {
    justify-self: start;
}

.bell {
    justify-self: end;
}

.profile {
    justify-self: end;
}

.user {
    display: flex;
    justify-self: start;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.greet {
    display: flex;
    justify-self: start;
    align-self: center;
    gap: 10px;
    padding: 20px;
    position: relative;
}

.outer {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: start;
    place-content: start;
    gap: 0px;
    height: 50px;
    padding-top: 10px;
}


.outer .small-text {
    z-index: 1;
    position: relative;
}

.outer .large-text {
    z-index: 2;
}

.small-text {
    font-size: 15px;
    font-weight: bold;
}

.large-text {
    font-size: 25px;
    font-weight: bold;
}

button.new,
button.upload,
button.share {
    background: #15acf1;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    align-self: center;
}

button.new {
    justify-self: end;
}

button.upload {
    justify-self: center;
}

button.share {
    justify-self: start;
}

/* Main */

.main {
    background-color: rgb(201, 200, 200);
    padding-left: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
}


.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
}

.project {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.project-title {
    display: grid;
    place-self: top;
    font-size: 15px;
    font-weight: bold;
}

.project-body {
    font-size: 12px;
    color: grey;
    margin-top: -20px;
}

p {
    font-size: 20px;
    font-weight: italic;
}

.icons {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -30px;
    gap: 30px;
}

/* Announcements */

.misc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid grey;
}


.ann-title {
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.ann-body {
    color: grey;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: grey solid 1px;
}

/* Trends */

.trends {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.trend {
    display: inline-flex;
    justify-content: center;
}

.user-info {
    padding-left: 15px;
}

.user-info>p {
    gap: 0px;
    margin: 0;
    padding-top: 3px;
}

.user-info>p.new-name {
    font-weight: bold;
    font-size: 17px;
}

.user-info>p.org {
    font-size: 15px;
}